.sidebar {
    transition: all 0.5s ease;
}

@media (max-width: 768px) {
    .header, .header.minimized {
        left: 0px;
    }

    .sidebar {
        position: fixed;
        z-index: 99 !important;
        width: 220px !important;
        left: 0px !important;
    }

        .sidebar.minimized {
            width: 0px !important;
        }

            .sidebar.minimized a span,
            .sidebar.minimized h4 span {
                opacity: 1 !important;
                display: contents;
            }

    .content, .content.minimized {
        margin-left: 0px !important;
    }

    .content {
        z-index: 0 !important;
    }

        .content .header {
            direction: rtl;
        }

    .sidebar.minimized {
        width: 0px !important; /* Slightly narrower sidebar to avoid covering whole screen */
        left: 0px;
    }
}
