.sidebar {
    transition: all 0.5s ease;
}
@media (max-width: 768px) {
    .header, .header.minimized {
        left: 0px;
    }

    .sidebar {
        position: fixed;
        z-index: 99 !important;
        width: 0px;
    }

        .sidebar.minimized {
            width: 225px;
        }
        .sidebar a span,
        .sidebar h4 span {
            display:none;
            transform:none;
        }
        .sidebar.minimized a span,
        .sidebar.minimized h4 span {
            opacity: 1 !important;
            display:contents;
        }

    .content, .content.minimized {
        margin-left: 0px !important;
    }

    .content {
        z-index: 0 !important;
    }

        .content .header {
            direction: rtl;
        }
}
